/* max-w combinazioni */
.max-w-3xs { max-width: 16rem; }
.max-w-2xs { max-width: 18rem; }
.max-w-xs { max-width: 20rem; }
.max-w-sm { max-width: 24rem; }
.max-w-md { max-width: 28rem; }
.max-w-lg { max-width: 32rem; }
.max-w-xl { max-width: 36rem; }
.max-w-2xl { max-width: 42rem; }
.max-w-3xl { max-width: 48rem; }
.max-w-4xl { max-width: 56rem; }
.max-w-5xl { max-width: 64rem; }
.max-w-6xl { max-width: 72rem; }
.max-w-7xl { max-width: 80rem; }
.max-w-8xl { max-width: 90rem; }
.max-w-9xl { max-width: 96rem; }
.max-w-10xl { max-width: 104rem; }
.max-w-full-minus-5 { max-width: 95%; }

/* min-w combinazioni */
.min-w-3xs { min-width: 16rem; }
.min-w-2xs { min-width: 18rem; }
.min-w-xs { min-width: 20rem; }
.min-w-sm { min-width: 24rem; }
.min-w-md { min-width: 28rem; }
.min-w-lg { min-width: 32rem; }
.min-w-xl { min-width: 36rem; }
.min-w-2xl { min-width: 42rem; }
.min-w-3xl { min-width: 48rem; }
.min-w-5xl { min-width: 64rem; }
.min-w-6xl { min-width: 72rem; }
.min-w-7xl { min-width: 80rem; }
.min-w-8xl { min-width: 90rem; }
.min-w-9xl { min-width: 96rem; }
.min-w-10xl { min-width: 104rem; }
.min-w-full-minus-5 { min-width: 95%; }

/* Varianti responsive */
@media (min-width: 640px) {
    .sm\:max-w-3xs { max-width: 16rem; }
    .sm\:max-w-2xs { max-width: 18rem; }
    .sm\:max-w-xs { max-width: 20rem; }
    .sm\:max-w-sm { max-width: 24rem; }
    .sm\:max-w-md { max-width: 28rem; }
    .sm\:max-w-lg { max-width: 32rem; }
    .sm\:max-w-xl { max-width: 36rem; }
    .sm\:max-w-3xl { max-width: 48rem; }
    .sm\:max-w-4xl { max-width: 56rem; }
    .sm\:max-w-5xl { max-width: 64rem; }
    .sm\:max-w-6xl { max-width: 72rem; }
    .sm\:max-w-7xl { max-width: 80rem; }
    .sm\:max-w-8xl { max-width: 90rem; }
    .sm\:max-w-9xl { max-width: 96rem; }
    .sm\:max-w-10xl { max-width: 104rem; }
    .sm\:max-w-full-minus-5 { max-width: 95%; }

    .sm\:min-w-3xs { min-width: 16rem; }
    .sm\:min-w-2xs { min-width: 18rem; }
    .sm\:min-w-xs { min-width: 20rem; }
    .sm\:min-w-sm { min-width: 24rem; }
    .sm\:min-w-md { min-width: 28rem; }
    .sm\:min-w-lg { min-width: 32rem; }
    .sm\:min-w-xl { min-width: 36rem; }
    .sm\:min-w-2xl { min-width: 42rem; }
    .sm\:min-w-3xl { min-width: 48rem; }
    .sm\:min-w-4xl { min-width: 56rem; }
    .sm\:min-w-5xl { min-width: 64rem; }
    .sm\:min-w-6xl { min-width: 72rem; }
    .sm\:min-w-7xl { min-width: 80rem; }
    .sm\:min-w-8xl { min-width: 90rem; }
    .sm\:min-w-9xl { min-width: 96rem; }
    .sm\:min-w-10xl { min-width: 104rem; }
    .sm\:min-w-full-minus-5 { min-width: 95%; }
}

@media (min-width: 768px) {
    .md\:max-w-3xs { max-width: 16rem; }
    .md\:max-w-2xs { max-width: 18rem; }
    .md\:max-w-xs { max-width: 20rem; }
    .md\:max-w-sm { max-width: 24rem; }
    .md\:max-w-md { max-width: 28rem; }
    .md\:max-w-lg { max-width: 32rem; }
    .md\:max-w-xl { max-width: 36rem; }
    .md\:max-w-2xl { max-width: 42rem; }
    .md\:max-w-3xl { max-width: 48rem; }
    .md\:max-w-4xl { max-width: 56rem; }
    .md\:max-w-5xl { max-width: 64rem; }
    .md\:max-w-6xl { max-width: 72rem; }
    .md\:max-w-7xl { max-width: 80rem; }
    .md\:max-w-8xl { max-width: 90rem; }
    .md\:max-w-9xl { max-width: 96rem; }
    .md\:max-w-10xl { max-width: 104rem; }
    .md\:max-w-full-minus-5 { max-width: 95%; }

    .md\:min-w-3xs { min-width: 16rem; }
    .md\:min-w-2xs { min-width: 18rem; }
    .md\:min-w-xs { min-width: 20rem; }
    .md\:min-w-sm { min-width: 24rem; }
    .md\:min-w-md { min-width: 28rem; }
    .md\:min-w-lg { min-width: 32rem; }
    .md\:min-w-xl { min-width: 36rem; }
    .md\:min-w-2xl { min-width: 42rem; }
    .md\:min-w-3xl { min-width: 48rem; }
    .md\:min-w-4xl { min-width: 56rem; }
    .md\:min-w-5xl { min-width: 64rem; }
    .md\:min-w-6xl { min-width: 72rem; }
    .md\:min-w-7xl { min-width: 80rem; }
    .md\:min-w-8xl { min-width: 90rem; }
    .md\:min-w-9xl { min-width: 96rem; }
    .md\:min-w-10xl { min-width: 104rem; }
    .md\:min-w-full-minus-5 { min-width: 95%; }
}

@media (min-width: 1024px) {
    .lg\:max-w-3xs { max-width: 16rem; }
    .lg\:max-w-2xs { max-width: 18rem; }
    .lg\:max-w-xs { max-width: 20rem; }
    .lg\:max-w-sm { max-width: 24rem; }
    .lg\:max-w-md { max-width: 28rem; }
    .lg\:max-w-lg { max-width: 32rem; }
    .lg\:max-w-xl { max-width: 36rem; }
    .lg\:max-w-2xl { max-width: 42rem; }
    .lg\:max-w-3xl { max-width: 48rem; }
    .lg\:max-w-4xl { max-width: 56rem; }
    .lg\:max-w-5xl { max-width: 64rem; }
    .lg\:max-w-6xl { max-width: 72rem; }
    .lg\:max-w-7xl { max-width: 80rem; }
    .lg\:max-w-8xl { max-width: 90rem; }
    .lg\:max-w-9xl { max-width: 96rem; }
    .lg\:max-w-10xl { max-width: 104rem; }
    .lg\:max-w-full-minus-5 { max-width: 95%; }

    .lg\:min-w-3xs { min-width: 16rem; }
    .lg\:min-w-2xs { min-width: 18rem; }
    .lg\:min-w-xs { min-width: 20rem; }
    .lg\:min-w-sm { min-width: 24rem; }
    .lg\:min-w-md { min-width: 28rem; }
    .lg\:min-w-lg { min-width: 32rem; }
    .lg\:min-w-xl { min-width: 36rem; }
    .lg\:min-w-2xl { min-width: 42rem; }
    .lg\:min-w-3xl { min-width: 48rem; }
    .lg\:min-w-4xl { min-width: 56rem; }
    .lg\:min-w-5xl { min-width: 64rem; }
    .lg\:min-w-6xl { min-width: 72rem; }
    .lg\:min-w-7xl { min-width: 80rem; }
    .lg\:min-w-8xl { min-width: 90rem; }
    .lg\:min-w-9xl { min-width: 96rem; }
    .lg\:min-w-10xl { min-width: 104rem; }
    .lg\:min-w-full-minus-5 { min-width: 95%; }
}

@media (min-width: 1280px) {
    .xl\:max-w-3xs { max-width: 16rem; }
    .xl\:max-w-2xs { max-width: 18rem; }
    .xl\:max-w-xs { max-width: 20rem; }
    .xl\:max-w-sm { max-width: 24rem; }
    .xl\:max-w-md { max-width: 28rem; }
    .xl\:max-w-lg { max-width: 32rem; }
    .xl\:max-w-xl { max-width: 36rem; }
    .xl\:max-w-2xl { max-width: 42rem; }
    .xl\:max-w-3xl { max-width: 48rem; }
    .xl\:max-w-4xl { max-width: 56rem; }
    .xl\:max-w-5xl { max-width: 64rem; }
    .xl\:max-w-6xl { max-width: 72rem; }
    .xl\:max-w-7xl { max-width: 80rem; }
    .xl\:max-w-8xl { max-width: 90rem; }
    .xl\:max-w-9xl { max-width: 96rem; }
    .xl\:max-w-10xl { max-width: 104rem; }
    .xl\:max-w-full-minus-5 { max-width: 95%; }

    .xl\:min-w-3xs { min-width: 16rem; }
    .xl\:min-w-2xs { min-width: 18rem; }
    .xl\:min-w-xs { min-width: 20rem; }
    .xl\:min-w-sm { min-width: 24rem; }
    .xl\:min-w-md { min-width: 28rem; }
    .xl\:min-w-lg { min-width: 32rem; }
    .xl\:min-w-xl { min-width: 36rem; }
    .xl\:min-w-2xl { min-width: 42rem; }
    .xl\:min-w-3xl { min-width: 48rem; }
    .xl\:min-w-4xl { min-width: 56rem; }
    .xl\:min-w-5xl { min-width: 64rem; }
    .xl\:min-w-6xl { min-width: 72rem; }
    .xl\:min-w-7xl { min-width: 80rem; }
    .xl\:min-w-8xl { min-width: 90rem; }
    .xl\:min-w-9xl { min-width: 96rem; }
    .xl\:min-w-10xl { min-width: 104rem; }
    .xl\:min-w-full-minus-5 { min-width: 95%; }
}
